.bar {
    display: flex;
    background-color: #292929;
    border-bottom: 4px solid #FF8400;
    padding: 0 12px 0 32px;
    overflow: hidden;
    height: 1%;
    white-space: nowrap;
    align-items: center;
}

.bar__lists {
    display: flex;
    position: relative;
    line-height: 30px;
    height: 36px;
    width: 100%;
    text-decoration: none;
}

.bar__lists > h2 {
    color: rgb(255, 234, 0);
    text-decoration: none !important;
    font-weight: 500;
    font-size: 13.99px;
    margin-right: 10px;
}

.bar__lists > h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bar__middle {
    display: flex;
    align-items: center;
}


.bar__middle > h2 {
    color: rgb(255, 234, 0);
    font-weight: 500;
    font-size: 13.99px;
    margin-right: 10px;
}

.bar__right {
    display: flex;
    align-items: center;
    color: white;
    background-color: #f47321;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bar__right:hover {
    cursor: pointer;
}

.bar__right > h2 {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 500;
}

.bar__right > h2:hover {
    text-decoration: underline;
}

.bar__right > img {
    height: 12px;
    margin-right: 5px;
}